#include <os2.h>
#include <rc.h>

POINTER ID_MAIN LOADONCALL MOVEABLE DISCARDABLE "default.ico"

MENU ID_MAIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    SUBMENU "Contents", MENUID_CONTENTS, MIS_TEXT
    BEGIN
        MENUITEM "Import", MENUID_IMPORT, MIS_TEXT
        MENUITEM "Export", MENUID_EXPORT, MIS_TEXT
    END
    SUBMENU "Edit", MENUID_EDIT, MIS_TEXT
    BEGIN
        MENUITEM "Undo", MENUID_UNDO, MIS_TEXT
        MENUITEM "Cut", MENUID_CUT, MIS_TEXT
        MENUITEM "Copy", MENUID_COPY, MIS_TEXT
        MENUITEM "Paste", MENUID_PASTE, MIS_TEXT
    END
END

MENU ID_POPUPMENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    MENUITEM "PostWhat", MENUID_POSTWHATVIEW, MIS_TEXT
END

ASSOCTABLE ID_MAIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    "PostWhat Note","PWN",,"default.ico"
END

